---
http_interactions:
- request:
    method: get
    uri: https://api.punkapi.com/v2/beers/0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b8-1AXHg9Ka0yy3iYzxxUPJoGh7aYo"
      X-Ratelimit-Limit:
      - '3600'
      X-Ratelimit-Remaining:
      - '3353'
      X-Ratelimit-Reset:
      - '1690304494'
      X-Vercel-Cache:
      - MISS
      X-Vercel-Id:
      - arn1::sfo1::fnhdl-1690304141535-c2983ac04a47
    body:
      encoding: UTF-8
      string: '{"statusCode":400,"error":"Bad Request","message":"Invalid query params","data":[{"location":"params","param":"beerId","msg":"beerId
        must be a number and greater than 0","value":"0"}]}'
  recorded_at: Tue, 25 Jul 2023 16:55:41 GMT
recorded_with: VCR 6.2.0
